<html>

<head>
  <title>Procedure Builder</title>
  <!-- Bulma -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.1/css/bulma.css">
  <!-- Custom CSS Styles -->
  <link rel="stylesheet" href="(( url_for('static', filename='styles.css') ))">
</head>

<body>
  <div id="procedures">
    <!-- Title Hero -->
    <bulma-hero class="is-primary">
      Procedure Builder
    </bulma-hero>

    <div class="tabs is-centered" id="tabs">
      <ul>
        <li><a href="/">Controller</a></li>
        <li class="is-active"><a>Procedures</a></li>
      </ul>
    </div>


    <div class="columns" id="main">
      <!-- Panel Column -->
      <div class="column is-3 is-offset-1">

        <!-- Options Panel -->
        <nav class="panel">
          <!-- Panel Heading -->
          <p class="panel-heading">
            Procedure Options
          </p>
          <!-- Panel search bar -->
          <div class="panel-block">
            <p class="control has-icons-left">
              <input class="input is-small" @keyUp="filterSearchList" v-model="search.term" type="text" placeholder="search">
              <span class="icon is-small is-left">
                <i class="fa fa-search"></i>
              </span>
            </p>
          </div>

          <!-- All Panel Items -->
          <panel-item v-for="item in search.results" :key="item.name" :item="item" @added="addSelected(item)" />

          <!-- Seach Results -->
          <!-- <panel-item v-for="item in search.results" :key="item.name" :item="item" @added="addSelected(item)"/> -->
        </nav>

      </div>

      <!-- Table Column -->
      <div class="column is-7">
        <div class="box">

          <!-- Procedure Table -->
          <table class="table" id="procedure-table">
            <thead>
              <tr>
                <th id="icon-heading"></th>
                <th id="step-heading">Step</th>
                <th id="desc-heading">Desc.</th>
                <th id="state-heading">State</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="item in tableItems">
                <td><i class="fa" :class="item.icon" aria-hidden="true"></i></td>
                <td>{{ item.prettyName }}</td>
                <td>{{ item.desc }}</td>
                <td>
                  <row-select :item="item" />
                </td>
                <td>
                  <remove-button @remove="removeElement(item)" />
                </td>
              </tr>
            </tbody>
          </table>

        </div>
      </div>
    </div>


  </div>
  <!-- Vue.js -->
  <!-- <script src="https://unpkg.com/vue"></script> -->
  <script src="(( url_for('static', filename='vue.js') ))"></script>
  <!-- Axios -->
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.2/axios.min.js"></script> -->
  <script src="(( url_for('static', filename='axios.min.js') ))"></script>

  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- Custom JS (Vue Components) -->
  <script type="text/javascript" src="(( url_for('static', filename='components.js') ))"></script>
  <!-- Custom JS (Vue Data) -->
  <script type="text/javascript" src="(( url_for('static', filename='procedures.js') ))"></script>
</body>

</html>
