<!doctype html>
<html lang="en">

<!-- Someone call the fucking cops -->

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="A front-end template that helps you build fast, modern mobile web apps.">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
  <title>Procedure Builder</title>

  <!-- Add to homescreen for Chrome on Android -->
  <meta name="mobile-web-app-capable" content="yes">
  <link rel="icon" sizes="192x192" href="(( url_for('static', filename='images/android-desktop.png') ))">

  <!-- Add to homescreen for Safari on iOS -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="Material Design Lite">

  <link rel="shortcut icon" href="(( url_for('static', filename='images/favicon.png') ))">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.17.1/axios.min.js"></script>

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.cyan-light_blue.min.css">
  <link rel="stylesheet" href="(( url_for('static', filename='styles.css') ))">
  <link rel="stylesheet" href="(( url_for('static', filename='getmdl-select.min.css') ))">
  <script src="(( url_for('static', filename='getmdl-select.min.js') ))"></script>
</head>

<body>
  <div id="loading">
    <div id="loader">
      <div id="top"></div>
      <div id="bottom"></div>
      <div id="line"></div>
    </div>
  </div>
  <div id="procedures">
    <div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
      <!-- Header -->
      <header class="demo-header mdl-layout__header mdl-color--grey-100 mdl-color-text--grey-600">
        <div class="mdl-layout__header-row">
          <span class="mdl-layout-title">Dashboard</span>
          <div class="mdl-layout-spacer"></div>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
            <label class="mdl-button mdl-js-button mdl-button--icon" for="search">
              <i class="material-icons">search</i>
            </label>
            <div class="mdl-textfield__expandable-holder">
              <!-- Search Input -->
              <input class="mdl-textfield__input" type="text" id="search">
              <label class="mdl-textfield__label" for="search">Enter your query...</label>
            </div>
          </div>
          <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="hdrbtn">
            <i class="material-icons">more_vert</i>
          </button>
          <ul class="mdl-menu mdl-js-menu mdl-js-ripple-effect mdl-menu--bottom-right" for="hdrbtn">
            <li class="mdl-menu__item">Light Theme</li>
            <li class="mdl-menu__item">Dark Theme</li>
            <li class="mdl-menu__item">idk... lol</li>
          </ul>
        </div>
      </header>
      <!-- Drawer -->
      <div class="demo-drawer mdl-layout__drawer mdl-color--blue-grey-900 mdl-color-text--blue-grey-50">
        <nav class="demo-navigation mdl-navigation mdl-color--blue-grey-800">
          <a class="mdl-navigation__link" href="/">
            <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">home</i>Controller</a>
          <a class="mdl-navigation__link" href="/procedures">
            <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">inbox</i>Procedures</a>
        </nav>
      </div>
      <!-- Procedures -->
      <main class="mdl-layout__content mdl-color--grey-100">
        <div class="mdl-grid demo-content">
          <div class="demo-cards mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet mdl-grid mdl-grid--no-spacing">
            <div class="demo-card-square mdl-card mdl-shadow--2dp">
              <div class="mdl-card__title mdl-card--expand">
                <h2 class="mdl-card__title-text">Items</h2>
              </div>
              <div class="mdl-card__supporting-text">
                <!-- Search Field -->
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
                  <label class="mdl-button mdl-js-button mdl-button--icon" for="sample6">
                    <i class="material-icons">search</i>
                  </label>
                  <div style="width: 100%;" class="mdl-textfield__expandable-holder">
                    <input class="mdl-textfield__input" @keyUp="filterSearchList" v-model="search.term" type="text" id="sample6">
                    <label class="mdl-textfield__label" for="sample-expandable">Expandable Input</label>
                  </div>
                </div>

                <!-- Options List -->
                <table id="itemsTable" class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
                  <tbody>
                    <tr v-for="item in search.results" @click="addSelected(item)">
                      <td class="mdl-data-table__cell--non-numeric" style="padding: 0;">
                        <div class="mdl-grid" style="padding: 2px;">
                          <div class="mdl-cell mdl-cell--2-col">
                            <i class="material-icons">{{ item.icon }}</i>
                          </div>
                          <div class="mdl-cell mdl-cell--10-col">
                            {{ item.prettyName }}
                          </div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="demo-graphs mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--8-col mdl-cell--hide-phone">
            <div class="mdl-textfield mdl-js-textfield">
              <input class="mdl-textfield__input" v-model="procedureName" type="text" id="procedureName">
              <label class="mdl-textfield__label" for="procedureName">New Procedure</label>
            </div>
            <hr>
            <table id="itemsTable" class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
              <thead>
                <tr>
                  <th style="width: 4px;" class="mdl-data-table__cell--non-numeric"></th>
                  <th class="mdl-data-table__cell--non-numeric">Step</th>
                  <th class="mdl-data-table__cell--non-numeric">Description</th>
                  <th class="mdl-data-table__cell--non-numeric">Options</th>
                </tr>
              </thead>
              <tbody v-sortable="{ onUpdate: updateOrder }">
                <tr v-for="item in tableItems">
                  <td class="mdl-data-table__cell--non-numeric">
                    <i class="material-icons">{{ item.icon }}</i>
                  </td>
                  <td class="mdl-data-table__cell--non-numeric">
                    {{ item.prettyName }}
                  </td>
                  <td class="mdl-data-table__cell--non-numeric">{{ item.desc }}</td>
                  <td class="mdl-data-table__cell--non-numeric">
                    <!-- Binary Options -->
                    <select v-if="item.type == 'binary'" :name="item.name + '-' + item.id + '-option'" v-bind:id="item.name + '-' + item.id">
                      <option value="0">{{ item.stateVerbage['0'] }}</option>
                      <option value="1">{{ item.stateVerbage['1'] }}</option>
                    </select>
                    <!-- Method Option -->
                    <input v-if="item.type == 'method'" :type="item.inputType" :name="item.name + '-' + item.id + '-option'" v-bind:id="item.name + '-' + item.id">
                    <!-- Divert Option -->
                    <select v-if="item.type == 'divert'" :name="item.name + '-' + item.id + '-option'" v-bind:id="item.name + '-' + item.id">
                      <option value="0">{{ item.locationVerbage['0'] }}</option>
                      <option value="1">{{ item.locationVerbage['1'] }}</option>
                    </select>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </main>
    </div>
  </div>

  <script src="(( url_for('static', filename='sortable.js') ))"></script>
  <script src="(( url_for('static', filename='loading.js') ))"></script>
  <script src="(( url_for('static', filename='vue-sortable.js') ))"></script>
  <script src="(( url_for('static', filename='material.min.js') ))"></script>
  <script src="(( url_for('static', filename='vue.js') ))"></script>
  <script src="(( url_for('static', filename='procedures.js') ))"></script>
</body>

</html>
