#main {
  margin-top: 1em;
}

/* #procedure-table {
  table-layout: fixed;
}

#procedure-table td {
  overflow: hidden;
} */


/*Setting the table width is important!*/
table#procedure-table {
  table-layout:fixed;
  width:100%;
}

#icon-heading {
  width: 5%;
}
#step-heading {
  width: 40%;
}
#desc-heading {
  width: 25%;
}

.relay-button {
  width: 100%;
  margin-bottom: 0.5em;
}

#set-sv {
  padding-left: 1.5em;
  /* padding-right: 1.em; */
}

#content {
  height: 100%;
}

#time-remaining-column {
  border-right: 2px solid grey;
}
