<html>

<head>
  <title>Controller</title>
  <!-- Bulma -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.1/css/bulma.css">
  <!-- Custom CSS Styles -->
  <link rel="stylesheet" href="(( url_for('static', filename='styles.css') ))">
</head>

<body>
  <div id="controller">
    <!-- Title Hero -->
    <bulma-hero class="is-primary">
      Controller
    </bulma-hero>

    <!-- Tabs -->
    <div class="tabs is-centered" id="tabs">
      <ul>
        <li class="is-active"><a>Controller</a></li>
        <li><a href="/procedures">Procedures</a></li>
      </ul>
    </div>


    <div class="container">
      <div class="columns">
        <div class="column is-8 is-offset-2" id="main">
          <div class="box">
            <div class="columns">
              <!-- Relay Column -->
              <div class="column is-3">
                <div class="has-text-centered">
                  <h1 class="title">Relays</h1>
                </div>
                <hr>

                <!-- Relay Buttons -->
                <relay-button v-for="relay in relays" :key="relay.name" :relay="relay" @clicked="toggleRelay(relay)" />
                <hr>

              </div>

              <div class="column is-9">
                <div class="has-text-centered">
                  <h1 class="title">Temperatures</h1>
                </div>
                <hr>

                <div class="columns">
                  <!-- Setpoint Value Tile -->
                  <div class="column is-6">
                    <temp-tile :temp="pid['sv']" text="Setpoint Value" />
                  </div>
                  <!-- Process Value Tile -->
                  <div class="column is-6">
                    <temp-tile :temp="pid['pv']" text="Process Value" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</body>

</html>

<!-- Vue.js -->
<!-- <script src="https://unpkg.com/vue"></script> -->
<script src="(( url_for('static', filename='vue.js') ))"></script>
<!-- Axios -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.2/axios.min.js"></script> -->
<script src="(( url_for('static', filename='axios.min.js') ))"></script>

<!-- Font Awesome -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- Custom JS (Vue Components) -->
<script type="text/javascript" src="(( url_for('static', filename='components.js') ))"></script>
<!-- Custom JS (Vue) -->
<script type="text/javascript" src="(( url_for('static', filename='controller.js') ))"></script>
