<html>

<head>
  <title>Weber Testing</title>
  <!-- Bulma -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.1/css/bulma.css">
  <!-- Custom CSS Styles -->
  <link rel="stylesheet" href="(( url_for('static', filename='styles.css') ))">
</head>

<body>
  <div id="procedure-builder">
    <!-- Title Hero -->
    <bulma-hero>
      Procedure Builder
    </bulma-hero>

    <div class="columns" id="main">
      <!-- Panel Column -->
      <div class="column is-3 is-offset-1">

        <!-- Options Panel -->
        <nav class="panel">
          <!-- Panel Heading -->
          <p class="panel-heading">
            Procedure Options
          </p>
          <!-- Panel search bar -->
          <div class="panel-block">
            <p class="control has-icons-left">
              <input class="input is-small" type="text" placeholder="search">
              <span class="icon is-small is-left">
                <i class="fa fa-search"></i>
              </span>
            </p>
          </div>

          <!-- Relay Items -->
          <panel-item v-for="relay in relays.binaries" :id="relay.name" :name="relay.prettyName" @added="addSelected">
            {{ relay.prettyName }}
          </panel-item>

          <panel-item v-for="relay in relays.diverts" :id="relay.name" :name="relay.prettyName" @added="addSelected" >
            {{ relay.prettyName }}
          </panel-item>

          <div class="panel-block">
            <button @click="addSelected" class="button is-primary is-fullwidth">
              Add
            </button>
          </div>
        </nav>

      </div>

      <!-- Table Column -->
      <div class="column is-7">
        <div class="box">
          <h1 class="title">
            Procedure
          </h1>
          <hr>

          <!-- Procedure Table -->
          <table class="table">
            <thead>
              <tr>
                <th id="step-heading">Step</th>
                <th id="state-heading">State</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="item in tableData">
                <td>{{ item.prettyName }}</td>
                <td>
                  <div v-if="item.state == 1 || item.state == 0" class="select">
                    <select v-model="item.state" name="state-select" id="state-select">
                      <option value="1">open</option>
                      <option value="0">closed</option>
                    </select>
                  </div>
                  <div v-if="item.location == 0 || item.location == 1" class="select">
                    <select v-model="item.location" name="location-select" id="location-select">
                      <option value="1">mash</option>
                      <option value="0">boil</option>
                    </select>
                  </div>
                </td>
                <td><a href="#">Remove</a></td>
              </tr>
            </tbody>
          </table>

        </div>
      </div>
    </div>


  </div>
  <!-- Vue.js -->
  <script src="https://unpkg.com/vue"></script>
  <!-- Axios -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.2/axios.min.js"></script>

  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- Custom JS (Vue Components) -->
  <script type="text/javascript" src="(( url_for('static', filename='components.js') ))"></script>
  <!-- Custom JS (Vue Data) -->
  <script type="text/javascript" src="(( url_for('static', filename='procedures.js') ))"></script>
</body>

</html>
