<html>

<head>
  <title>Weber Testing</title>
</head>

<body>
  <div id="procedure-builder">
    <!-- Title Hero -->
    <bulma-hero>
      Procedure Builder
    </bulma-hero>

    <div class="columns" id="main">
      <!-- Panel Column -->
      <div class="column is-3 is-offset-1">

        <!-- Options Panel -->
        <nav class="panel">
          <!-- Panel Heading -->
          <p class="panel-heading">
            Procedure Options
          </p>
          <!-- Panel search bar -->
          <div class="panel-block">
            <p class="control has-icons-left">
              <input class="input is-small" type="text" placeholder="search">
              <span class="icon is-small is-left">
                <i class="fa fa-search"></i>
              </span>
            </p>
          </div>

          <!-- HLT Panel Item -->
          <!-- <a class="panel-block" id="hlt-relay-option" @click="addOption">
            <span class="panel-icon">
              <i class="fa fa-exchange" aria-hidden="true"></i>
            </span>
            HLT Valve
          </a> -->
          <panel-item id="hlt-valve-option" name="HLT Valve">
            HLT Valve
          </panel-item>

          <!-- RIMS Panel Item -->
          <!-- <a class="panel-block" id="rims-relay-option" @click="addOption">
            <span class="panel-icon">
              <i class="fa fa-exchange" aria-hidden="true"></i>
            </span>
            RIMS Valve
          </a> -->
          <panel-item id="rims-valve-option" name="RIMS Valve">
            RIMS Valve
          </panel-item>

          <!-- Pump Panel Item -->
          <!-- <a class="panel-block" id="pump-relay-option" @click="addOption">
            <span class="panel-icon">
              <i class="fa fa-power-off" aria-hidden="true"></i>
            </span>
            Pump
          </a> -->

          <panel-item id="pump-option" name="Pump">
            Pump
          </panel-item>

          <!-- <a class="panel-block" id="rims-option" @click="addOption">
            <span class="panel-icon">
              <i class="fa fa-thermometer-quarter" aria-hidden="true"></i>
            </span>
            RIMS Heater
          </a> -->
          <panel-item id="rims-option" name="RIMS Heater">
            RIMS Heater
          </panel-item>
        </nav>

      </div>

      <!-- Table Column -->
      <div class="column is-7">
        <div class="box">
          <h1 class="title">
            Procedure
          </h1>
          <hr>

          <!-- Procedure Table -->
          <table class="table">
            <thead>
              <tr>
                <th>Step</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="row in tableData">
                <td class="is-primary">{{ row }}</td>
                <td><a href="#">Remove</a></td>
              </tr>
            </tbody>
          </table>


        </div>
      </div>
    </div>


  </div>
  <!-- Vue.js -->
  <script src="https://unpkg.com/vue"></script>
  <!-- Axios -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.2/axios.min.js"></script>
  <!-- Bulma -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.1/css/bulma.css">
  <!-- Custom CSS Styles -->
  <link rel="stylesheet" href="(( url_for('static', filename='styles.css') ))">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- Custom JS (Vue Components) -->
  <script type="text/javascript" src="(( url_for('static', filename='components.js') ))"></script>
  <script type="text/javascript" src="(( url_for('static', filename='procedures.js') ))"></script>
  <!-- Custom JS (Vue Data) -->
</body>

</html>
